.top-menu {
  //position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #fff;

  &__hamburger {
    display: none;
  }
}

//.top-menu--fixed {
//  background-color: $white;
//  z-index: 10;
//  box-shadow: 0 5px 5px 0 #ccc;
//}

.top-menu__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-menu__logo {
  margin-right: 10px;
  a {
    display: block;
  }
  img {
    display: block;
    width: 120px;
  }
}

.top-menu__list {
  display: none;
  justify-content: center;
  list-style: none;
  padding: 0;
  font-family: 'prosto_sans';
}

.top-menu__item {
  font-size: px-to-rem(18px);
  line-height: 1.667;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: $menu-text;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
    &:hover {
      color: $menu-text-active;
    }
  }
}

//Top menu dell
.top-menu {
  &__phone{
    background: url(../img/phone_black.png) left center no-repeat;
    margin-top: 20px;
    padding-left: 31px;
    display: inline-block;
  }
  &__phone a{
    color: #37292c;
    font-size: 24px;
    letter-spacing: 1.2px;
    font-family: "TT Prosto Sans";
    font-weight: 400;
    text-decoration: none;
  }

  &__nav{
    margin-left: auto !important;

  }
  &__logo > p{
    font-size: 18px;
    color: #34292b;
    line-height: 24px;
    letter-spacing: 0.9px;
    border-left: 2px solid #34292b;
    margin: 14px 0px 0px 7px;
    padding: 10px 0px 0px 31px;
  }
  &__logo{
    display: flex;
  }
  &__logo > a{
    margin-top: 15px;
    width: 122px;
  }
}



















@media (max-width: 1024px) {
  .top-menu {
    &__wrap {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &__logo {
      flex-basis: 100px;
    }
    &__logo > p {
      width: 235px;
    }
    &__phone{
      display: none;
    }
    &__phone a{
        font-size: 20px;
        letter-spacing: 0px;
      }
    &__list {
      display: none;
      position: absolute;
      right: 0;
      top: 80px;
      flex-direction: column;
      background-color: $white;
      margin: 0;
      padding: 20px;
      z-index: 5;
      box-shadow: 0 5px 5px 0 #ccc;
    }
    &__item {
      font-size: px-to-rem(16px);
      margin-right: 0;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &__hamburger {
      display: inline-block;
      margin-left: 20px;
      span {
        width: 50px;
        height: 6px;
        background-color: $white;
        display: block;
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .top-menu--fixed {
    .top-menu__hamburger {
      span {
        background-color: $black;
      }
    }
  }
}
@media (max-width: 500px) {

  .top-menu {
    &__logo > p {
      font-size: 16px;
      width:  215px;
      padding-left: 21px;
    }
  }


}
@media (max-width: 385px) {

  .top-menu {
    &__logo > p {
      width: 140px;
    }
  }


}